<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
	h1{
		text-shadow: 0 0 20px black;
	}
body {
  margin: 1;
 
  background-image: url("https://images3.alphacoders.com/176/176787.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.btn {
  margin-left: 10px;
  margin-right: 10px;}
.btn-info{
	font-size: 25px;
  border-radius: 40px;
  color: #FFF;
  border:#f53867;
  background:#f53867;

}

</style>
</head>
<body>
	

   <nav  style="background-color: #E8E8E8"class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a  style="color: black" class="navbar-brand" href="#">BOOKS BUY N SELL!</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a  style="color: #080808" href="#"> About Us</a></li>
      <li><a style="color: #080808" href="#"> Contact Us</a></li>
    </ul>
  </div>
</nav>
<h1 style="color:#FFFAF0" ;>Explore thousands of books of your choice!</h1>
<h1 style="color:#FFFAF0" ;> So what are you waiting for register below and get started </h1>
<br><br><br><br><br><br><br>
<div class="container">

	<div class="text-center ">
		<div class="shadow-lg p-3 mb-5 bg-white rounded">
  
  <a href="/new_user" class="btn btn-info btn-lg" role="button">Register</a>
  <a href="/login" class="btn btn-info btn-lg" role="button">Login</a>
		</div>
	</div>
  
</div>
 

</body>
</html>